<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Récapitulatif</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-center">
        <a ng-click="switchDisplayResults()" class="btn btn-success" ng-if="displayResults.check == 0">Publier les résultats</a>
        <a ng-click="switchDisplayResults()" class="btn btn-warning" ng-if="displayResults.check == 1">Masquer les résultats</a>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-center">
                    <small>Bateaux inscrits</small><br />
                    <span class="label" ng-class="nbBoats.totalNotDeleted > 0 && 'label-success' || 'label-default'">{{ nbBoats.totalNotDeleted }}</span>
                </h2>
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">
                    <small>Bateaux à valider</small><br />
                    <span class="label" ng-class="nbBoats.toValid > 0 && 'label-warning' || 'label-success'">{{ nbBoats.toValid }}</span>
                </h2>
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">
                    <small>Bateaux impayés</small><br />
                    <span class="label" ng-class="nbBoats.toPay > 0 && 'label-danger' || 'label-success'">{{ nbBoats.toPay }}</span>
                </h2>
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">
                    <small>Bateaux à chronométrer</small><br />
                    <span class="label" ng-class="nbBoats.toRecord > 0 && 'label-warning' || 'label-success'">{{ nbBoats.toRecord }}</span>
                </h2>
            </div>
        </div>
    </div>
</div>
</div>