<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Fil rouge<br />
        <small>Venez ramer au profit d'une association !</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <h5>Pendant toute la compétition, des ergomètres seront à votre disposition pour ramer au profit d'une association, <a href="http://cheer-up.fr" title="Site de Cheer'Up">Cheer Up</a>.</h5> 

        <p>Le principe est simple : un kilomètre parcouru, c'est un euro donné à Cheer Up !<br />
        <a href="http://cheer-up.fr" title="Site de Cheer'Up" target="_blank">Cheer Up</a>, c'est une fédération d'associations étudiantes qui lutte contre le cancer. <br />
        Comment ? En aidant les jeunes cancéreux de 15 à 29 ans à réaliser leurs projets personnels. Créée il y a dix ans, la fédération regroupe aujourd'hui plus de 300 bénévoles sélectionnés dans 17 écoles et universités, parmi lesquelles l''École polytechnique. En 2013, les bénévoles, préalablement formés à la visite en hôpital ont pu visiter et soutenir plus de 450 jeunes.</p>
        <p class="text-center">Pour plus d'informations, <a href="http://cheer-up.fr" title="Site de Cheer'Up" target="_blank">cliquez ici</a> !</p>

        <p class="lead text-center">Alors le 13 décembre, venez au fil rouge pour ramer contre le cancer !</p>
        <p class="text-center">
            <a href="http://cheer-up.fr" title="Site de Cheer'Up" target="_blank">
                <img src="assets/img/logo-cu.png" alt="Site de Cheer'Up" />
            </a>
        </a>
    </div>
</div>
</div>