<div class="container-fluid">
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Informations pratiques</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 well text-center">
        <h2>Où ?</h2>
        <h4>Dans le Grand Hall de l'École polytechnique</h4>
        <h2>Quand ?</h2>
        <h4>Le dimanche 6 décembre, de 08h30 à 18h30</h3>
        <h2>Accès</h2>
        Pour les informations d'accès au campus de l'École, <a href="http://www.polytechnique.edu/fr/accesetorientation" title="Accès à l'École polytechnique" target="_blank">cliquez ici</a>.
        <h2>Contact</h2>
        Pour tout renseignement, envoyez-nous un mail à l'adresse <a href="mailto:ergometrix2015@gmail.com" title="Contact">ergometrix2015@gmail.com</a>.
        <!--<h2>Règlement de l'épreuve</h2>
        Le règlement de la compétition se trouve <a href="assets/pdf/ReglementErgometrix2015.pdf" target="_blank" title="Télécharger le règlement">ici</a>.-->
        <h2>Frais d'inscription</h2>
        <p>Le règlement se fait <em>en liquide le jour de la compétition</em> ou <em>par chèque</em> à l'ordre du Binet Aviron. L'adresse de règlement est la suivante :
            <address class="text-center">
            M. JEANNEROD Louis<br />
            11 boulevard des maréchaux<br />
            Résidence FAYOLLE<br />
            Studio 113013<br />
            91120 PALAISEAU, FRANCE
            </address>
        </p>
        <h4>Tarifs (par personne)</h4>
        <ul>
            <li>5,00 € pour les inscriptions en ligne,</li>
            <li>10,00 € le jour de l'épreuve.</li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center well">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21062.917919517506!2d2.2094233!3d48.7080662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x43c2be8ce6d1821e!2s%C3%89cole+Polytechnique!5e0!3m2!1sfr!2sfr!4v1415481239058" width="800" height="600" frameborder="0" style="border:0"></iframe>
    </div>
</div>
</div>