<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Objets trouvés<br />
        <small>Envoyez-un mail à <a href="mailto:ergometrix2015@gmail.com">ergometrix2015@gmail.com</a>.</small></h1>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <div class="row">
        <div class="col-md-6 text-center">
            <h5>Tee-shirt taille XXL</h5>
            <img src="assets/img/trouves/IMG_1233.JPG" alt="Tee-shirt taille XXL" class="img-responsive" />
        </div>
        <div class="col-md-6 text-center">
            <h5>Baskets taille 43</h5>
            <img src="assets/img/trouves/IMG_1232.JPG" alt="Baskets taille 43" class="img-responsive" />
        </div>
        </div>
    </div>
</div>-->
</div>