<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Préparation<br />
        <small>Quelques conseils pour être au top le jour de la compétition !</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <p>Pour être au top de votre forme le jour J, deux choses comptent : l'entrainement et l'alimentation.<br />
        C'est pourquoi nous vous présentons ces deux guides qui sauront vous aider dans votre préparation.<br /><br />
        <em>Bonne chance !</em></p>
        <br />
        <ul>
            <li><a href="assets/pdf/dietetique.pdf" target="_blank" title"Guide diététique">Guide concernant la diététique</a></li>
            <li><a href="assets/pdf/entrainement.pdf" target="_blank" title"Guide entrainement">Guide concernant l'entrainement</a></li>
        </ul>
    </div>
</div>
</div>