<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="message == 'inscription-success'">
        <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Fermer</span>
        </button>
        <strong>Inscription réussie !</strong><br />
    </div>
    <div class="jumbotron well text-center presentation-sect">
        <h1><span class="logo orbitron-face">ErgometriX</span></h1>
        <h3>La compétition d'aviron indoor de l'École polytechnique</h3>
        <h3>Dimanche 6 décembre 2015</h3>
        <h3>Ouverture des inscriptions prochainement</h3>
        <br />
        <!--<p ng-if="checkInscription.check == 1"><a class="btn btn-danger btn-lg" role="button" ui-sref="root.inscription">Inscription</a></p>-->
        <!--<p ng-if="checkInscription.check == 0"><a class="btn btn-danger btn-lg" role="button" ui-sref="root.lateInscription">Inscriptions terminées</a><br />-->
        Pour toute information, envoyez un mail à <a href="mailto:ergometrix2015@gmail.com" title="Contactez-nous !">ergometrix2015@gmail.com</a>.</p>
        <!--<p><a class="btn btn-primary btn-lg" role="button" ui-sref="root.resultats">Voir les résultats</a></p>-->
    </div>
</div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron well text-center presentation-sect">
        <h2>Nos sponsors et partenaires</h2>
        <div class="row img-align text-center">
        <div class="col-md-4">
            <a href="http://www.polytechnique.edu" title="École polytechnique" target="_blank">
            <img src="assets/img/logo-x.jpg" class="img-responsive" alt="École polytechnique" />
            </a>
            <br />
        </div>
        <div class="col-md-4">
            <a href="http://www.lcl.com" title="Le Crédit Lyonnais" target="_blank">
            <img src="assets/img/logo-lcl.jpg" class="img-responsive" alt="Le Crédit Lyonnais" />
            </a>
            <a href="http://www.avironfrance.asso.fr" title="Aviron France" target="_blank">
            <img src="assets/img/logo-af.jpg" class="img-responsive" alt="Aviron France" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://csx.polytechnique.fr" title="Club Sportif de l'École polytechnique" target="_blank">
            <img src="assets/img/logo-csx.jpg" class="img-responsive" alt="Club sportif de l'École polytechnique" />
            </a>
            <a href="http://www.sport-u.com/" title="Fédération Française du Sport Universitaire" target="_blank">
            <img src="assets/img/logo-ffsu.jpg" class="img-responsive" alt="Fédération Française du Sport Universitaire" />
            </a>
        </div>

    </div>
</div>
</div>
</div>