<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="message == 'inscription-success'">
        <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Fermer</span>
        </button>
        <strong>Inscription réussie !</strong><br />
    </div>
    <div class="jumbotron well text-center presentation-sect">
        <h1><span class="logo orbitron-face">ErgometriX</span></h1>
        <h3>La compétition d'aviron indoor de l'École polytechnique</h3>
        <!--<h3>Samedi 13 décembre 2014</h3>
        <h5>Fin des inscriptions : lundi 08 décembre à 23h59</h5>
        <br />
        <p ng-if="checkInscription.check == 1"><a class="btn btn-danger btn-lg" role="button" ui-sref="root.inscription">Inscription</a></p>
        <p ng-if="checkInscription.check == 0"><a class="btn btn-danger btn-lg" role="button" ui-sref="root.lateInscription">Inscriptions terminées</a><br />
        Pour toute information, envoyez un mail à <a href="mailto:ergometrix2014@gmail.com" title="Contactez-nous !">ergometrix2014@gmail.com</a>.</p>-->
        <p><a class="btn btn-primary btn-lg" role="button" ui-sref="root.resultats">Voir les résultats</a></p>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron well text-center presentation-sect">
        <h2>Nos sponsors et partenaires</h2>
        <div class="row img-align text-center">
        <div class="col-md-4">
            <a href="http://www.polytechnique.edu" title="École polytechnique" target="_blank">
            <img src="assets/img/logo-x.jpg" class="img-responsive" alt="École polytechnique" />
            </a>
            <br />
            <a href="http://www.sportintown.com" title="SportinTown" target="_blank">
            <img src="assets/img/logo-sportintown.png" class="img-responsive" alt="SportinTown" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.lcl.com" title="Le Crédit Lyonnais" target="_blank">
            <img src="assets/img/logo-lcl.jpg" class="img-responsive" alt="Le Crédit Lyonnais" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://csx.polytechnique.fr" title="Club Sportif de l'École polytechnique" target="_blank">
            <img src="assets/img/logo-csx.jpg" class="img-responsive" alt="Club sportif de l'École polytechnique" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.avironfrance.asso.fr" title="Aviron France" target="_blank">
            <img src="assets/img/logo-af.jpg" class="img-responsive" alt="Aviron France" />
            </a>
            <br />
            <a href="http://journaldesgrandesecoles.com/" title="Journal des Grandes Écoles" target="_blank">
            <img src="assets/img/logo-jge.jpg" class="img-responsive" alt="Journal des Grandes Écoles" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://cheer-up.fr" title="Cheer'Up" target="_blank">
            <img src="assets/img/logo-cu.png" class="img-responsive" alt="Cheer'Up" />
            </a>
        </div>
        </div>
    </div>
</div>
</div>
</div>