<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <h2>Programme de la manifestation</h2>
    <dl>
        <dt>08h30</dt>
        <dd>2000m individuel</dd>
        <dt>10h10</dt>
        <dd>course en double sur slides (1000m)</dd>
        <dt>12h00</dt>
        <dd>Pause repas</dd>
        <dt>14h00</dt>
        <dd>Relais 4*500m (qualificatif pour la coupe de France universitaire)</dd>
        <dt>15h30</dt>
        <dd>Course en huit sur slides (1000m)</dd>
        <dt>18h30</dt>
        <dd>Remise des prix et buffet de clotûre</dd>
    </dl>
    Échauffement à tout moment sur les ergomètres disponibles.
</div>
</div>
</div>