<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <h2>Programme de la manifestation</h2>
    <dl>
        <dt>08h30</dt>
        <dd>début de l'échauffement</dd>
        <dt>09h30</dt>
        <dd>2000m individuel</dd>
        <dt>11h00</dt>
        <dd>course en double sur slides</dd>
        <dt>12h30</dt>
        <dd>remise des récompenses des épreuves matinales + pause repas</dd>
        <dt>13h00</dt>
        <dd>début de l'échauffement</dd>
        <dt>14h00</dt>
        <dd>relais en équipe de 4 (qualificatif pour la coupe de France universitaire)</dd>
        <dt>15h30</dt>
        <dd>course en huit sur slides</dd>
        <dt>17h00</dt>
        <dd>remise des récompenses des épreuves de l'après midi</dd>
        <dt>17h30</dt>
        <dd>buffet</dd>
    </dl>
</div>
</div>
</div>