<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Nos sponsors</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron well text-center presentation-sect">
            <div class="row img-align text-center">
                <div class="col-md-4">
                    <a href="http://www.lcl.com" title="Le Crédit Lyonnais" target="_blank">
                        <img src="assets/img/logo-lcl.jpg" class="img-responsive" alt="Le Crédit Lyonnais" />
                    </a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

            